body{
    background:#ede9e4;
    font-family: "Gill Sans", sans-serif;
    font-size: 12pt;
    position: relative;
}

.header{
    overflow: hidden;
    background-color: #ede9e4;
    padding: 40px 30px;
    
}

.header a{
float: right;
color: #617470;
text-align: center;
padding: 10px;
text-decoration: none;
font-size: 18px;
line-height: 30px;
border-radius: 3px;
}

.header a:hover
{
    background-color: #ddd;
    color: #617470;

}

.header h1{
    color: #617470;

}

form {
    box-shadow: 0 0 10px gray;
    border-color: #f1f1f1;
    background-color: #f1f1f1;
    padding: 80px;
    margin-top: 30px;
    border-radius: 50px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 500px;
    height: 600px;
    position: relative;
    
    
}

label{
    color: #617470;
    font-size: 18px;
}
.edit
{
    
    border-radius: 4px;
    padding: 8px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    border: 2px solid #617470;
    color: #617470;
    
}

.edit:focus
{
    color: white;
    border: dotted #ede9e4;
    background-color: #b4c9d3;
}

select{
    border: 2px #617470 solid ;
    border-radius: 4px;
    color: #617470;
    padding: 8px;
    
}

select:focus
{
    color: white;
    border: dotted #ede9e4;
    background-color: #b4c9d3;
}


img {
	
    border-radius: 35px;
    margin-left: 90px;
    overflow: hidden;
    margin-top: -50px;
    box-shadow: 8px 8px #617470;
    

}

.info
{
   padding-left: 100px;
   margin-top: 30px;
   
}

.cancel, .submit
{
    color: white ;
    background-color: #617470;
    font-family: 'Calibri', 'Times New Roman', serif ;
    font-size: 12pt;
    border-radius: 6px;
    border: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.cancel:hover, .submit:hover
{
    background-color: #b4c9d3;
}

.buttons
{
    margin-left: 100px;
    margin-top: -20px;
}


button
{
    color: white ;
    background-color: #617470;
    font-family: 'Calibri', 'Times New Roman', serif ;
    font-size: 12pt;
    border-radius: 6px;
    border: white;
}
button:hover
{
    background-color: #b4c9d3;
}