*{
    margin: 0px;
    padding: 0px;
    font-family: "Gill Sans", sans-serif;
    
}

body{
    background-color: #ede9e4;
}

a{
    text-decoration: none;
}

#heading
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.headerr
{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.headerr h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #617470;
    color: white;
    padding: 10px 70px;

}

.headerr span
{
   font-size: 1.3rem;
    color: #617470;
    margin-bottom:10px ;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.box
{
    width: 500px;
    box-shadow: 2px 2px 10px gray;
    background-color: white;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.pic
{
    width: 50px;
    height: 50px;
    border-radius: 50% ;
    overflow: hidden;
    margin-right: 10px;
}

.pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.profile
{
    display: flex;
    align-items: center;

}

.username
{
    display: flex;
    flex-direction: column;

}

.username strong{
    color: #617470;
    font-size: 1.1rem;
    letter-spacing: 0.5px;

}

.username span{
    color: #b4c9d3;
    font-size: 0.8rem;
}


.box-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;


}

.comment p
{
font-size: 0.9rem;
color: #617470;

}

.b{
    overflow: hidden;
    padding: 40px 30px;
}

.b a{
float: right;
color: #617470;
text-align: center;
padding: 10px;
text-decoration: none;
font-size: 18px;
line-height: 30px;
border-radius: 3px;
}

.b a:hover
{
    background-color: #ddd;
    color: black;

}



nav{
    display: flex;
    padding: 4% 6%;
    justify-content: space-between;
    align-items: center;
}
.dropbtn {
    background-color: transparent;
    color: #617470;
    font-size: 20px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #61747057;
    z-index: 1;
    text-align: center;
  }
  
  .dropdown-content a {
    background-color: #ede9e4;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #61747057;
}

#logo{
    text-decoration: none;
    position: absolute;
    margin-top: -110px;
    top: 110px;
    left: 0px;
    height: 130px;
    width: 150px;
}


.header-links{
  top: -30px;
  height: 1px;
  min-width: 100vh;
flex: 1;
text-align: right;
margin-right: -8%;
}

.header-links ul li {
    position: relative;
    list-style: none;
    display: inline-block;  
    margin-top: 1.6%; 
    margin-bottom: 1.6%;
    margin-left: 1%;
    margin-right: 1%;
}

.header-links ul li a{
  color: #617470;
  /*to remove the underline*/
    text-decoration: none;
    font-size: 20px;
}

.editAbout {
    display: inline-block;    
    border: 1.5px solid #b4c9d3;
    border-radius: 25px;
    position: relative;
    text-align: center;
    font-size: 18px;
    margin-top: -12%;
    margin-right: 30px;
    margin-left: 12px;
    margin-bottom: -2%;
    padding: 12px 13px;
    background-color: transparent;
    text-decoration: none;
    margin-top: 10px;
    height: 20px;
    width: 120px;
    color: #617470;
    letter-spacing: 1px;
  }
  
  .edit-about-section{
  background-size: 55%;
  background-color: #EDE9E4;
  overflow: hidden;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .editAbout a{
  background-color: transparent;
  }
  
  .editAbout:hover {
    border: 1px solid #617470;
    background: #61747057;
    transition: 0.5s;
  }
  .edit-about-section h1{
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 700;
    color: #617470;
    background-color: transparent;
    letter-spacing: 4px;
  }
  .edit-about-section label{
    margin-bottom: 30px;
    font-size: 17px;
    color: #617470;
    background-color: transparent;
  }

  .feilds, textarea {
    width: 400px;
    height: 23px;
    background-color: #b4c9d3;
    color: #6174708c;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-color: transparent;
  }

  #message{
    height: 300px;
  }
  .name, .email, textarea {
    width: 280px;
  } 
  
  .editAboutt{
    display: inline-block;    
    border: 1.5px solid #b4c9d3;
    border-radius: 25px;
    position: relative;
    text-align: center;
    font-size: 18px;
    margin-top: 1%;
    margin-right: 30px;
    margin-left: 12px;
    margin-bottom: 52%;
    padding: 12px 13px;
    background-color: transparent;
    text-decoration: none;
    margin-top: 10px;
    height: 20px;
    width: 120px;
    color: #617470;
    letter-spacing: 1px;
  }  


  
  .Services {
width : 100%;
}   

  .row ,.row2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%; 
  }
  
  .Services-column{
    flex-basis: 60%;
    height: 250px;
    width: 150px;
    background-color:  #b4c9d3;
    border: 0px solid #b4c9d3; 
    border-radius: 10px;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px 15px;
    box-sizing: border-box;
  }
  
  .Services-column img{
    background-color: transparent;
    height: 90px;
    width: 90px;
    margin-top: 5%;
    margin-bottom: 1%;
  
  }
  .Services-column h3{
  text-transform: uppercase;
  font-weight: bolder;
  
  
  }
  .Services-column p, .Services-column h3, label{
    background-color: transparent;
    color: #617470;
    text-align: center;
    margin-bottom: 1%;
  
  }

  .Services-column p {
    font-size: 15px;
  }


  
  
